# Normalize all text files to use LF in the repository
* text=auto

# Explicitly enforce LF for common web dev files
*.js     text eol=lf
*.jsx    text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.css    text eol=lf
*.html   text eol=lf
*.json   text eol=lf
*.md     text eol=lf